@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button-action {
    @apply bg-action text-sm min-w-32 shadow-sm md:text-base hover:bg-accent rounded-lg text-white font-bold px-4 py-2 transition duration-300
  }

  .button-action-save-job {
    @apply bg-gray-500 text-sm min-w-32 md:text-base hover:bg-accent rounded-lg text-white font-bold px-4 py-2 transition duration-300
  }

  .h1 {
    @apply text-4xl font-bold text-headers
  }

  .h2 {
    @apply text-lg font-bold text-headers
  }

  .h3 {
    @apply  text-2xl font-semibold text-accent
  }

  .h3-small {
    @apply  text-xl font-semibold text-accent
  }

  .subtitle{
    @apply font-semibold text-black text-lg
  }

  .span {
    @apply text-base text-black font-medium
  }



  /* Hide scrollbar for Chrome, Safari, and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}

}